.App {
  text-align: center;
}

.App {
  background-color: wheat;
  min-height: 100vh;
  min-width: 100vw;
  padding: 2vw 0vw 10vw 0vw;
}

img {
  height: 300px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-left: 24px;
}
.list {
  width: 95vw;
  gap: 5px;
  list-style: none;
  position: static;
}
.button-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.5);
}
.num-btn {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  color: white;
  font-weight: bold;
  margin: 5px;
  padding: 3px;
  cursor: pointer;
}
